h3 {
  text-align: center;
  color:rebeccapurple;
}
#trains {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
 }
 #trains td, #trains th{
     border: 1px solid #ddd;
     padding: 8px;
 }
#trains th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: salmon;
    color: white;
}